HTML {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400;
  background-color: $base-bg-color;
  color: $primari-color-text;
  overflow-x: hidden;
  width: 100%;
}

button {
  border: none;

  cursor: pointer;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;

  @include for-size(mobile) {
    width: 100%;
  }
  @include for-size(modernMobile) {
    max-width: 767px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    max-width: 1440px;
  }

  @include for-size(desktop-ultraHD) {
    max-width: 1440px;
  }

  // @include for-size(superDesktop) {
  //   width: 1880px;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.iti.iti--allow-dropdown.iti--separate-dial-code {
  margin-top: 20px;
}
