$standart-color-white: #ffffff;
$base-bg-color: #f9f9f9;
$primari-color-text: #333333;
$base-bg-btn: #c80000;
$border-nav-color: rgba(255, 255, 255, 0.15);
$border-video-color: rgba(255, 255, 255, 0.1);
$border-comments-color: #eaeaea;
$color-subText-company-info: #ec7171;
$color-text-company-procent: #7cff91;
$bg-company-procent: rgba(0, 0, 0, 0.09);
$color-text-card: rgba(255, 255, 255, 0.9);
$sponsors-bg: #f9fbff;
