.baner-info {
  margin-top: 39px;
}

.wrapper-baner {
  position: relative;

  margin-top: 29px;
}
.baner-heading {
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
}
.list-baner {
  padding: 30px 15px 30px 0px;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;

    width: 1000%;
    height: 100%;

    background-color: $standart-color-white;
    transform: translate(-50%);

    z-index: -1;
  }
}
.item-baner {
  display: flex;
  align-items: center;
  //   justify-content: center;
  &:not(:first-child) {
    margin-top: 30px;
  }
  & h3 {
    margin-left: 20px;
    font-size: 17px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    & span {
      color: $base-bg-btn;
    }
  }
}
