.card {
  margin-top: 56px;
}

.list-card {
}
.item-card {
  &:not(:first-child) {
    margin-top: 15px;
  }
  & .standart-card {
    // color: $standart-color-white;
    & p {
      color: $color-text-card;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      & span {
        color: $standart-color-white;
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
      }
    }
    & .prisintational-text {
      display: inline-block;
      background: $base-bg-btn;

      margin-top: 10px;
      padding: 10px 20px;

      font-weight: 400;
      font-size: 18px;
      line-height: 32px;

      text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

      & span {
        font-size: 24px;
      }
      & .conver-card {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
      }
    }
    & .center-text-card {
      color: $standart-color-white;

      margin-top: 28px;

      font-weight: 700;
      font-size: 32px;
      line-height: 42px;

      text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
    }
    & .narrating-text {
      color: $standart-color-white;

      margin-top: 15px;

      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
    & .btn {
      display: inline-block;
      margin-top: 15px;

      font-size: 17px;
      line-height: 20px;
    }
  }

  & .bg-card-one {
    padding: 45px 25px;
    background: radial-gradient(
        100% 310.43% at 0% 0%,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../images/bg_card_one.jpg) no-repeat center;
    background-size: cover;
  }
  & .bg-card-two {
    padding: 45px 25px;

    background: radial-gradient(
        100% 310.43% at 0% 0%,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../images/bg_card_two.jpg) no-repeat center;
    background-size: cover;
  }
}
