.certificate {
  margin-top: 112px;

  padding-bottom: 88px;

  border-bottom: 1px solid $border-comments-color;
}
.heading-certyf {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;

  text-align: center;

  &::after {
    content: " ";

    display: block;

    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    width: 100px;
    height: 10px;

    background: $base-bg-btn;
  }
}

.slid {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;

  width: 251px;
  height: 334px;

  background-color: #e3e3e3;
}
