.company-information {
  background: url(../images/bg_section.jpg) no-repeat center;

  background-size: cover;

  & .container {
    & h2 {
      color: $standart-color-white;
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;

      padding-top: 63px;
      & span {
        color: $color-subText-company-info;
      }
    }
  }
}
.list-company {
  margin-top: 45px;
  padding-bottom: 85px;
}
.item-company {
  &:not(:first-child) {
    margin-top: 35px;
  }
  & > p {
    color: $standart-color-white;

    padding-top: 16px;
    padding-left: 14px;

    font-size: 16px;
    line-height: 25px;
  }
  & div {
    background: $bg-company-procent;
    backdrop-filter: blur(10px);

    border-radius: 15px;

    padding: 20px 14px 20px 14px;
    & p {
      display: flex;
      flex-direction: column;
      color: $color-text-company-procent;

      font-weight: 700;
      font-size: 22px;
      line-height: 25px;

      & span {
        margin-top: 5px;
        color: $standart-color-white;

        font-size: 35px;
        line-height: 40px;
        & .conversion {
          font-weight: 400;
          font-size: 18px;
          line-height: 40px;
        }
      }
    }
  }
}
