.director-info {
  margin-top: 40px;

  border: 1px solid $border-comments-color;

  & .container {
    position: relative;
    &::before {
      content: " ";
      display: block;
      position: absolute;

      bottom: -1px;
      right: 0px;

      display: block;
      width: 360px;
      height: 318px;
      background: url(../images/ded.png) no-repeat;
    }
  }
}
.width-container {
  position: relative;
  padding-bottom: 392px;

  z-index: -999;

  &::before {
    content: "“";
    position: absolute;
    top: -416px;
    right: 0;

    color: $standart-color-white;

    font-size: 500px;
    line-height: 600px;

    transform: rotate(-180deg);
    z-index: -1;
  }
  &::after {
    content: "“";
    position: absolute;

    bottom: -376px;
    left: -48px;

    color: $standart-color-white;

    font-size: 500px;
    line-height: 600px;
  }
}
.name-director {
  margin-top: 40px;

  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.info-company-director {
  color: $base-bg-btn;

  margin-top: 11px;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.text-director {
  margin-top: 48px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.subtext-director {
  margin-top: 22px;

  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
// .ded-img {
//   position: absolute;

//   bottom: -1px;

//   right: 0px;
// }
