footer {
  padding-top: 50px;
  padding-bottom: 50px;

  text-align: center;

  color: $standart-color-white;
  background: $primari-color-text;
  & .btn {
    display: inline-block;
    margin-top: 48px;
  }
}
.adress {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;

  & span {
    font-weight: 700;
  }
}
.nav-list-footer {
  margin-top: 38px;
}

.nav-item-footer {
  &:not(:first-child) {
    margin-top: 30px;
  }
}
.nav-link-footer {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: $standart-color-white;
}
