.wrapper-form {
  margin-top: 20px;
}
.form {
  background: $standart-color-white;

  border: 1px solid $border-comments-color;
  border-radius: 15px;
  padding: 48px 15px 38px 15px;

  & h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    text-shadow: -1px 0 #eaeaea, 0 1px #eaeaea, 1px 0 #eaeaea, 0 -1px #eaeaea;
  }
  & button {
    margin-top: 20px;

    width: 100%;
  }
}
.form-group-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 26px;
  & input {
    width: 100%;

    padding: 15px 25px;

    border: 2px solid $primari-color-text;
    box-sizing: border-box;
    border-radius: 5px;
  }
  & input:last-child {
    margin-top: 20px;
  }
}
.form-group-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  & input {
    width: 100%;

    padding: 15px 25px;

    border: 2px solid $primari-color-text;
    box-sizing: border-box;
    border-radius: 5px;
  }
  & input:last-child {
    margin-top: 20px;
  }
}
.form-time {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  padding: 15px 20px 15px 20px;

  border: 1px solid $border-comments-color;
  box-sizing: border-box;
  border-radius: 5px;

  & span {
    color: #c10000;
  }
}
