.bg-header {
  position: relative;

  padding-bottom: 23px;
  border-bottom: 1px solid $border-comments-color;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 725px;

    background: radial-gradient(
          100% 100% at 50% 0%,
          rgba(122, 122, 122, 0.81) 0%,
          rgba(0, 0, 0, 0.68) 100%
        )
        no-repeat top center,
      url(../images/bg_header.jpg) no-repeat top center;
    background-size: cover;

    z-index: -1;

    @include for-size(mobile) {
      height: 770px;
    }
    @media screen and (min-width: 372px) {
      height: 745px;
    }
    @media screen and (min-width: 411px) {
      height: 710px;
    }
    @media screen and (min-width: 488px) {
      height: 680px;
    }
    @media screen and (min-width: 582px) {
      height: 640px;
    }
  }
  &::after {
    content: " ";
    position: absolute;

    top: 78px;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    background-color: $border-nav-color;
  }
}

.wrapper-vidioContent {
  padding-bottom: 25px;
}

.wrapper-nav {
  & .flex-box {
    padding-top: 15px;

    padding-bottom: 10px;
  }
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  display: inline-block;
  background: $base-bg-btn;
  color: $standart-color-white;

  padding: 15px 25px;

  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;

  border-radius: 5px;
}
