// .hiro-heading {
//   color: $standart-color-white;
//   text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);

//   font-weight: 500;
//   font-size: 32px;
//   line-height: 42px;

//   margin-top: 73px;
// }
// .hiro-subHeading {
//   color: $standart-color-white;

//   // margin-top: 53px;

//   font-size: 20px;
//   line-height: 30px;
// }
// .comment-wrapper {
//   margin-top: 25px;

//   // overflow: hidden;
// }

// .list-coment {
//   //   position: relative;
//   border: 1px solid $border-comments-color;
//   border-radius: 10px;
//   //   height: 200px;

//   //   & .wrapper-humans {
//   //     display: inline-flex;
//   //     flex-wrap: nowrap;
//   //     width: 100%;

//   //     padding: 25px 25px 5px 25px;

//   //     overflow-y: hidden;
//   //     &::-webkit-scrollbar {
//   //       width: 2px;
//   //       height: 0px;
//   //       background: red;
//   //     }

//   //     & .item-comment {
//   //       padding: 10px;
//   //       display: inline-flex;
//   //       align-items: center;

//   //       white-space: nowrap;

//   //       border: 1px solid $border-comments-color;
//   //       border-radius: 100px;

//   //       &:not(:first-child) {
//   //         margin-left: 20px;
//   //       }

//   //       & .img-human {
//   //         margin-right: 13px;
//   //       }
//   //     }
//   //   }

//   //   & .wrapper-comments {
//   //     padding: 0 25px 5px 25px;
//   //     overflow-x: hidden;
//   //   }

//   // overflow-y: hidden;

//   & div {
//     display: inline-flex;
//     flex-wrap: nowrap;

//     & .item-comment {
//       padding: 10px;
//       display: inline-flex;
//       align-items: center;

//       white-space: nowrap;

//       border: 1px solid $border-comments-color;
//       border-radius: 100px;
//       & img {
//         margin-right: 13px;
//       }
//       &.active {
//         display: inline-flex;
//         align-items: center;

//         white-space: nowrap;

//         padding: 10px;

//         border: 1px solid $primari-color-text;
//         border-radius: 100px;
//         & img {
//           margin-right: 13px;
//         }
//         & .comment {
//           position: absolute;
//           top: 80px;
//           left: 15px;

//           display: block;
//         }
//       }
//     }
//   }
// }
// .item-comment {
//   padding: 20px 0px 20px 15px;
//   // position: absolute;
//   // top: 20px;
//   // left: 15px;
//   & > div {
//     display: inline-flex;
//     align-items: center;

//     white-space: nowrap;

//     padding: 10px;

//     border: 1px solid $border-comments-color;
//     border-radius: 100px;
//     & img {
//       margin-right: 13px;
//     }
//   }

//   // & .comment {
//   //   display: none;
//   // }
//   &.active {
//     & > div {
//       display: inline-flex;
//       align-items: center;

//       white-space: nowrap;

//       padding: 10px;

//       border: 1px solid $primari-color-text;
//       border-radius: 100px;
//       & img {
//         margin-right: 13px;
//       }
//     }
//     & .comment {
//       // position: absolute;
//       // top: 80px;
//       // left: 15px;

//       margin-top: 15px;

//       // display: block;
//     }
//   }
// }

// // .name {
// //   font-weight: 500;
// //   font-size: 16px;
// //   line-height: 35px;
// // }
// // .comment {
// //   margin-top: 25px;
// //   padding-right: 15px;

// //   font-weight: 400;
// //   font-size: 15px;
// //   line-height: 25px;
// //   & span {
// //     font-weight: 700;
// //   }
// // }

// .hiro-heading {
//   color: $standart-color-white;
//   text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);

//   font-weight: 500;
//   font-size: 32px;
//   line-height: 42px;

//   margin-top: 73px;
// }
// .hiro-subHeading {
//   color: $standart-color-white;

//   // margin-top: 53px;

//   font-size: 20px;
//   line-height: 30px;
// }
// .comment-wrapper {
//   margin-top: 25px;
// }

// .list-coment {
//   border: 1px solid $border-comments-color;
//   border-radius: 10px;

//   & div {
//     display: inline-flex;
//     flex-wrap: nowrap;

//     & .item-comment {
//       padding: 10px;
//       display: inline-flex;
//       align-items: center;

//       white-space: nowrap;

//       border: 1px solid $border-comments-color;
//       border-radius: 100px;
//       & img {
//         margin-right: 13px;
//       }
//       &.active {
//         display: inline-flex;
//         align-items: center;

//         white-space: nowrap;

//         padding: 10px;

//         border: 1px solid $primari-color-text;
//         border-radius: 100px;
//         & img {
//           margin-right: 13px;
//         }
//         & .comment {
//           position: absolute;
//           top: 80px;
//           left: 15px;

//           display: block;
//         }
//       }
//     }
//   }
// }
// .item-comment {
//   display: flex;
//   padding: 20px 0px 20px 15px;

//   & > div {
//     display: inline-flex;
//     align-items: center;

//     white-space: nowrap;

//     padding: 10px;

//     border: 1px solid $border-comments-color;
//     border-radius: 100px;
//     & img {
//       margin-right: 13px;
//     }
//   }

//   &.active {
//     & > div {
//       display: inline-flex;
//       align-items: center;

//       white-space: nowrap;

//       padding: 10px;

//       border: 1px solid $primari-color-text;
//       border-radius: 100px;
//       & img {
//         margin-right: 13px;
//       }
//     }
//     & .comment {
//       margin-top: 15px;
//     }
//   }
// }

.hiro-heading {
  color: $standart-color-white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);

  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  margin-top: 73px;
}
.hiro-subHeading {
  color: $standart-color-white;

  font-size: 20px;
  line-height: 30px;
}
.comment-wrapper {
  margin-top: 25px;
}

.list-coment {
  border: 1px solid $border-comments-color;
  border-radius: 10px;

  & .item-comment {
    display: none;

    &.active {
      display: block;

      & img {
        margin-right: 13px;
      }
      & .comment {
        display: block;
        & span {
          font-weight: 700;
        }
      }
    }
  }
}
.item-comment {
  padding: 0px 0px 20px 15px;
}

.list-humen {
  display: flex;
  padding: 20px 0px 20px 0;
  // max-width: 657px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 100%;
  }

  cursor: grabbing;
  cursor: -moz-grabbing;

  cursor: -webkit-grabbing;
}
.item-humen {
  display: inline-flex;
  align-items: center;

  white-space: nowrap;

  padding: 10px;

  border: 1px solid $border-comments-color;
  border-radius: 100px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  & .img-user {
    margin-right: 13px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  &.active {
    display: inline-flex;
    align-items: center;

    white-space: nowrap;

    padding: 10px;

    border: 1px solid $primari-color-text;
    border-radius: 100px;
    & img {
      margin-right: 13px;
    }
  }
}
