.information {
  margin-top: 48px;
  padding-bottom: 26px;
  & .container {
    & h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
    }
  }
}
.list-info {
  margin-top: 29px;
}
.item-info {
  display: flex;
  align-items: center;
  padding: 22px 0 22px 0;

  font-size: 17px;
  line-height: 25px;
  &::before {
    content: " ";

    display: block;

    margin-right: 25px;

    min-width: 50px;
    height: 8px;
    background: $base-bg-btn;
  }
}
.range {
  margin-top: 32px;
}
