.motivational {
  margin-top: 48px;
  padding-bottom: 47px;

  // border-bottom: 1px solid $border-comments-color;
}
.wrapper-motivational {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: $standart-color-white;

  padding: 50px 0 50px 0;

  border: 1px solid $border-comments-color;

  & h2 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
  }
}
