.sponsors {
  background: $sponsors-bg;
}
.sponsors-list-one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 53px;
  & .sponsors-item {
    margin-right: 35px;
    margin-left: 35px;
  }
}

.sponsors-list-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  & .sponsors-item {
    margin-right: 5px;
    margin-left: 5px;
  }
}
