.logo-icon {
  width: 62px;
  height: 46px;
}
.motivational-icon {
  width: 74px;
  height: 55px;
}
.watch-icon {
  width: 22px;
  height: 22px;
}
.footer-logo-icon {
  width: 78px;
  height: 58px;
}
.visa-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  //   & use {
  //     width: 100%;
  //   }
}
.mastercard-icon {
  width: 64px;
  height: 64px;
}
.maestro-icon {
  width: 64px;
  height: 64px;
}
.webmoney-icon {
  width: 64px;
  height: 64px;
}
.wire-icon {
  width: 64px;
  height: 64px;
}
.london-icon {
  width: 120px;
  height: 120px;
}
.dowjones-icon {
  width: 120px;
  height: 120px;
}
.nasdaq-icon {
  width: 120px;
  height: 120px;
  & use {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.diners-icon {
  width: 120px;
  height: 120px;
}
.deutsche-icon {
  width: 120px;
  height: 120px;
}
.standart-icon {
  --color1: #c4cfe0;
  fill: #c4cfe0;

  transition: 250ms --color1 linear, 250ms fill linear;

  &:hover {
    --color1: #444;
    fill: #444;
    transition: 250ms --color1 linear, 250ms fill linear;
  }
  &:focus {
    --color1: #444;
    fill: #444;
    transition: 250ms --color1 linear, 250ms fill linear;
  }
}
