.wrapper-vidioContent {
  margin-top: 53px;
  & div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.wrapper-video {
  margin-top: 42px;
  max-width: 369px;
  border: 1px solid $border-video-color;
  backdrop-filter: blur(5px);
  border-radius: 10px;

  @include for-size(tablet) {
    max-width: 600px;
  }
}
.promo-video {
  width: 100%;
  border-radius: 5px;
}
