// SLIDER TART
.range {
  //   margin-left: auto;
  //   margin-right: auto;
  text-align: center;
  margin-top: 0px;
  padding: 45px 30px 45px 30px;

  & .btn {
    display: block;
    margin-top: 30px;
    background: $standart-color-white;
    box-shadow: none;
    color: $base-bg-btn;
    border: 2px solid $base-bg-btn;

    transition: 250ms background linear, 250ms color linear, 250ms border linear;
    &:hover {
      background: $base-bg-btn;
      color: $standart-color-white;
      border: 2px solid $base-bg-btn;

      transition: 250ms background linear, 250ms color linear,
        250ms border linear;
    }
    &:focus {
      background: $base-bg-btn;
      color: $standart-color-white;
      border: 2px solid $base-bg-btn;

      transition: 250ms background linear, 250ms color linear,
        250ms border linear;
    }
  }
}
.bg-white {
  background-color: #fff;
}

.bg-primary {
  background-color: #081743;
}
.irs--round .irs-handle {
  border: 4px solid $base-bg-btn !important;
}
.irs--round .irs-bar,
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  background: $base-bg-btn !important;
}

.w-full {
  width: 100%;
}
.range-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.wrapper-range {
  margin-top: 25px;
}
.lable-range {
  font-size: 20px;
  line-height: 27px;

  margin-bottom: 25px;
}
.income-text {
  margin-top: 20px;

  font-size: 20px;
  line-height: 27px;
}
.income-range {
  margin-top: 15px;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
//SLIDER END
