@include for-size(mobile) {
  .sliderslick {
    margin-top: 55px;
    max-width: 251px;
  }
  .certificate {
    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: none;
    border-radius: 50%;

    right: -50px;

    &::before {
      content: " ";
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/arrow.svg) no-repeat center;
      // background-size: contain;

      color: red;
      // background-color: black;
      font-family: "slick";
      // font-size: 90px;
      line-height: 0;
      opacity: 0.75;
    }
  }

  //  @include for-size(modernMobile) {
  // border: none;
  // left: -60px;
  // }

  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: none;

    border-radius: 50%;
    left: -50px;
    z-index: 1;

    &::before {
      content: " ";
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/arrow.svg) no-repeat center;

      color: red;
      font-family: "slick";
      line-height: 0;
      opacity: 0.75;
      transform: rotate(180deg);
    }
  }
  .img-ser {
    width: 251px;
  }
}
@include for-size(modernMobile) {
  .sliderslick {
    margin-top: 55px;
    max-width: 251px;
  }
  .certificate {
    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: none;
    right: -50px;

    border-radius: 50%;

    &::before {
      content: " ";
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/arrow.svg) no-repeat center;

      color: red;
      font-family: "slick";
      line-height: 0;
      opacity: 0.75;
    }
  }

  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: none;
    border-radius: 50%;

    left: -50px;

    z-index: 1;

    &::before {
      content: " ";
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/arrow.svg) no-repeat center;

      color: red;
      font-family: "slick";
      line-height: 0;
      opacity: 0.75;
      transform: rotate(180deg);
    }
  }
  .img-ser {
    width: 251px;
  }
}
@include for-size(tablet) {
  .sliderslick {
    margin-top: 55px;
    max-width: 251px;
  }
  .certificate {
    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: 1px solid $base-bg-btn;
    border-radius: 50%;

    right: -100px;

    &::before {
      content: " ";
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/arrow.svg) no-repeat center;

      color: red;
      font-family: "slick";
      line-height: 0;
      opacity: 0.75;
    }
  }

  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: 1px solid $base-bg-btn;
    border-radius: 50%;

    left: -100px;

    z-index: 1;

    &::before {
      content: " ";
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/arrow.svg) no-repeat center;

      color: red;
      font-family: "slick";
      line-height: 0;
      opacity: 0.75;
      transform: rotate(180deg);
    }
  }
  .img-ser {
    width: 251px;
  }
}

@include for-size(desktop) {
  .sliderslick {
    margin-top: 81px;
    max-width: 420px;
  }
  .certificate {
    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: 1px solid $base-bg-btn;
    border-radius: 50%;

    right: -150px;

    &::before {
      content: " ";
      display: block;
      width: 90px;
      height: 90px;
      background: url(../images/arrow.svg) no-repeat center;
      // background-size: contain;

      color: red;
      // background-color: black;
      font-family: "slick";
      // font-size: 90px;
      line-height: 0;
      opacity: 0.75;
    }
  }

  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    padding: 0;

    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;

    border: 1px solid $base-bg-btn;
    border-radius: 50%;

    left: -150px;

    &::before {
      content: " ";
      display: block;
      width: 90px;
      height: 90px;
      background: url(../images/arrow.svg) no-repeat center;

      color: red;
      font-family: "slick";
      // font-size: 90px;
      line-height: 0;
      opacity: 0.75;
      transform: rotate(180deg);
    }
  }
  .img-ser {
    width: 420px;
  }
}
