@include for-size(desktop) {
  .baner-info {
    margin-top: 84px;
    padding-bottom: 87px;

    border-bottom: 1px solid $border-comments-color;
    & .container {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0;
    }
  }
  .list-baner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 50px;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;

      width: 1000%;
      height: 100%;

      background-color: $standart-color-white;
      transform: translate(0);
    }
  }
  .item-baner {
    &:not(:first-child) {
      margin-top: 0px;
      margin-left: 60px;
    }
    & h3 {
      white-space: nowrap;

      margin-left: 20px;
    }
  }
  .wrapper-baner {
    position: relative;
    // background-color: aqua;
  }
  .baner-heading {
    display: block;
    // max-width: 383px;
    padding-left: 15px;

    margin-right: 93px;

    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
  }
}
