@include for-size(desktop) {
  .company-information {
    background-size: cover;

    & .container {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-top: 144px;
      padding-bottom: 326px;

      & h2 {
        display: inline-block;
        color: $standart-color-white;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;

        padding-top: 0px;

        margin-right: 83px;

        & span {
          color: $color-subText-company-info;
        }
      }
    }
  }
  .list-company {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
    white-space: nowrap;
  }
  .item-company {
    &:not(:first-child) {
      margin-top: 0px;
      margin-left: 15px;
    }
    & > p {
      color: $standart-color-white;

      text-align: center;

      padding-top: 16px;
      padding-left: 0px;

      font-size: 16px;
      line-height: 25px;
    }
    & div {
      min-width: 234px;

      background: $bg-company-procent;
      backdrop-filter: blur(10px);

      border-radius: 15px;

      padding: 20px 14px 20px 14px;
      & p {
        display: flex;
        flex-direction: column;
        color: $color-text-company-procent;

        font-weight: 700;
        font-size: 22px;
        line-height: 25px;

        & span {
          margin-top: 5px;
          color: $standart-color-white;

          font-size: 35px;
          line-height: 40px;
          & .conversion {
            font-weight: 400;
            font-size: 18px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
