@include for-size(desktop) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .btn {
      margin-top: 0px;
    }
  }
  .nav-list-footer {
    display: flex;
    align-items: center;

    margin-top: 0px;
  }
  .nav-item-footer {
    white-space: nowrap;
    &:not(:first-child) {
      margin-top: 0px;
      margin-left: 45px;
    }
  }

  .nav-link-footer {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }
}
