@include for-size(desktop) {
  .bg-header {
    padding-bottom: 40px;
    border-bottom: 1px solid $border-comments-color;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 690px;

      background: radial-gradient(
            100% 100% at 50% 0%,
            rgba(122, 122, 122, 0.81) 0%,
            rgba(0, 0, 0, 0.68) 100%
          )
          no-repeat top center,
        url(../images/bg_header-desk.jpg) no-repeat top center;
      background-size: cover;
    }
    &::after {
      content: " ";
      position: absolute;

      top: 90px;
      left: 0;

      display: block;

      width: 100%;
      height: 1px;

      background-color: $border-nav-color;
    }
  }
  .wrapper-nav {
    & .flex-box {
      padding-top: 25px;

      padding-bottom: 25px;
    }
  }
}
