@include for-size(desktop) {
  .hiro-heading {
    font-size: 40px;
    line-height: 55px;

    margin-top: 70px;
    margin-left: 80px;
  }
  .position-desktop {
    // position: relative;
    display: grid;
    grid-template-columns: 50% 50%;

    & h1:nth-child(1) {
      grid-row: 1;

      grid-column: 2;
      margin-right: 41px;
    }

    & div:nth-child(4) {
      position: relative;

      max-width: 550px;
    }
  }
  .wrapper-form {
    position: absolute;
    top: -300px;
    left: 50px;

    max-width: 450px;
  }
  .hiro-subHeading {
    font-size: 22px;
    line-height: 35px;
  }
  .comment-wrapper {
    margin-top: 51px;
    margin-bottom: 80px;
    overflow: hidden;
  }
}
