@include for-size(desktop) {
  .information {
    & .container {
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        width: 50%;
        &:not(:last-child) {
          & h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
          }
          margin-right: 119px;
        }
      }
    }
  }
  .item-info {
    font-size: 20px;
    line-height: 27px;
  }
  .list-info {
    margin-top: 55px;
  }
}
