@include for-size(desktop) {
  .motivational {
    margin-top: 0px;
    padding-bottom: 0px;
    position: relative;

    top: -70px;
  }
  .wrapper-motivational {
    & h2 {
      font-size: 35px;
      line-height: 50px;
    }
  }
}
