@include for-size(desktop-ultraHD) {
  .baner-info {
    margin-top: 84px;
    padding-bottom: 87px;

    border-bottom: 1px solid $border-comments-color;
    & .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .list-baner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-baner {
    &:not(:first-child) {
      margin-top: 0px;
      margin-left: 60px;
    }
    & h3 {
      white-space: nowrap;

      margin-left: 20px;
    }
  }
  .baner-heading {
    display: block;
    // max-width: 383px;

    margin-right: 93px;

    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
  }
}
