@include for-size(desktop-ultraHD) {
  .card {
    margin-top: 0px;
    background: #fff;

    & .container {
      & article {
        position: relative;
        top: -200px;
      }
    }
  }

  .list-card {
    display: flex;
  }
  .item-card {
    width: calc(100% / 2);
    height: auto;
    height: 100%;

    &:not(:first-child) {
      margin-top: 0px;
    }
    & .standart-card {
      & p {
        font-size: 22px;
        line-height: 55px;
        & span {
          color: $standart-color-white;
          font-weight: 700;
          font-size: 30px;
          line-height: 55px;
        }
      }
      & .prisintational-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;

        & span {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }

        & .conver-card {
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
        }
      }

      & .center-text-card {
        margin-top: 48px;

        font-size: 35px;
        line-height: 55px;
      }
      & .prisintational-text {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}
