@include for-size(desktop-ultraHD) {
  .director-info {
    margin-top: 40px;

    border: 1px solid $border-comments-color;

    & .container {
      position: relative;
      display: flex;
      justify-content: center;
      &::after {
        content: " ";
        position: relative;

        margin-left: 40px;

        bottom: 0px;
        right: 0px;

        display: block;
        width: 611px;
        height: 578px;
        background: url(../images/ded-desk.png) no-repeat;
      }
      &::before {
        content: "";
        display: none;
      }
    }
    .width-container {
      padding-bottom: 0px;

      width: 37%;

      &::before {
        content: "“";
        position: absolute;
        top: -376px;
        right: -30px;
      }
      &::after {
        content: "“";
        position: absolute;

        bottom: -376px;
        left: -120px;

        color: $standart-color-white;

        font-size: 500px;
        line-height: 600px;
      }
    }
  }
}
