@include for-size(desktop-ultraHD) {
  .form-group-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & input {
      width: 234px;

      padding: 15px 25px;

      border: 2px solid $primari-color-text;
      box-sizing: border-box;
      border-radius: 5px;
    }
    & input:last-child {
      margin-top: 0;
      margin-left: 20px;
    }
  }
  .form {
    padding: 48px 29px 28px 33px;

    & h2 {
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      text-shadow: -1px 0 #eaeaea, 0 1px #eaeaea, 1px 0 #eaeaea, 0 -1px #eaeaea;
    }
    & button {
      margin-top: 20px;
      font-size: 17px;
      line-height: 35px;
      width: 100%;
    }
  }
  .form-time {
    font-size: 15px;
    line-height: 35px;

    & p {
      margin-left: 15px;
    }
  }
}
