@include for-size(desktop-ultraHD) {
  .hiro-heading {
    font-size: 40px;
    line-height: 55px;

    margin-top: 115px;
    margin-left: 131px;
  }
  .position-desktop {
    // position: relative;
    display: grid;
    grid-template-columns: 50% 50%;

    & h1:nth-child(1) {
      margin-right: 41px;

      grid-row: 1;

      grid-column: 2;
    }

    & div:nth-child(4) {
      position: relative;

      max-width: 550px;
    }
  }
  .wrapper-form {
    position: absolute;
    top: -190px;
    left: 130px;

    max-width: 550px;
  }
  .hiro-subHeading {
    font-size: 22px;
    line-height: 35px;
  }
  .comment-wrapper {
    margin-top: 21px;
    margin-bottom: 80px;

    // overflow: hidden;
  }
}
