@include for-size(desktop-ultraHD) {
  .information {
    & .container {
      display: flex;
      justify-content: center;
      align-items: center;
      & div {
        &:nth-child(1) {
          & h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
          }
          margin-right: 119px;
        }
      }
    }
  }
  .item-info {
    font-size: 20px;
    line-height: 27px;
  }
  .list-info {
    margin-top: 55px;
  }
  .range {
    margin-top: 0px;
  }
}
