@include for-size(desktop-ultraHD) {
  .navigation {
    display: flex;
  }
  .nav-list {
    display: flex;
  }
  .nav-item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
  .nav-link {
    color: $standart-color-white;

    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }
}
