@include for-size(desktop-ultraHD) {
  .sponsors-list-one {
    padding-top: 119px;

    & .sponsors-item {
      margin-right: 82px;
      margin-left: 82px;
    }
  }

  .sponsors-list-two {
    padding-bottom: 61px;
    & .sponsors-item {
      margin-right: 17px;

      margin-left: 17px;
    }
  }
}
