@include for-size(desktop-ultraHD) {
  .wrapper-vidioContent {
    margin-top: 118px;
    margin-left: 63px;
    & div {
      display: block;
      // align-items: center;
      // justify-content: center;
    }
  }
  .wrapper-video {
    margin-top: 68px;
    max-width: 697px;
  }
}
